{% load static i18n %}
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler navbar-toggler-right"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand"
           href="{% url 'smplshop.shop:shop_front' shop=request.shop.code %}">{{ request.shop }}</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link"
                       href="{% url 'smplshop.shop:shop_front' shop=request.shop.code %}">{% trans "Home" %} <span class="visually-hidden">(current)</span></a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">{% trans "Setup" %} <span class="visually-hidden">(current)</span></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link"
                       href="{% url 'smplshop.shop:cart' shop=request.shop.code %}">{% trans "Cart" %} <span class="visually-hidden">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">{% trans About %}<span class="visually-hidden">(current)</span></a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        {# URL provided by django-allauth/account/urls.py #}
                        <a class="nav-link"
                           href="{% url 'smplshop.shop:customer_orders' shop=request.shop.code %}">{% translate "Orders" %}</a>
                    </li>
                    <li class="nav-item">
                        {# URL provided by django-allauth/account/urls.py #}
                        <a class="nav-link" href="{% url 'users:detail' request.user.email  %}">{% translate "My Profile" %}</a>
                    </li>
                    <li class="nav-item">
                        {# URL provided by django-allauth/account/urls.py #}
                        <a class="nav-link" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
                    </li>
                {% else %}
                    {% if ACCOUNT_ALLOW_REGISTRATION %}
                        <li class="nav-item">
                            {# URL provided by django-allauth/account/urls.py #}
                            <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        {# URL provided by django-allauth/account/urls.py #}
                        <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="#" class="nav-link">{{ request.shop }}</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">{{ request.user }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
